
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <ul>
        <li>@Html.ActionLink("ReportVer1_RDLC", "ReportVer1_RDLC")</li>
        <li>@Html.ActionLink("ReportVer2_HTML", "ReportVer2_HTML")</li>
        <li>@Html.ActionLink("ReportVer2_RDLC", "ReportVer2_RDLC")</li>
    </ul>