.page2TableEvaluationItem_PC {
    font-size: 16px;
}

    .page2TableEvaluationItem_PC th {
        padding: 12px;
        text-align: center;
        background-color: #30d6f1d6;
        white-space: nowrap;
    }

    .page2TableEvaluationItem_PC td {
        padding: 5px;
        text-align: center;
        white-space: nowrap;
    }

.page2TableEvaluationItemComment_PC {
    font-size: 16px;
}

    .page2TableEvaluationItemComment_PC th {
        padding: 5px;
        text-align: center;
        background-color: #30d6f1d6;
        white-space: nowrap;
        color: white;
    }

    .page2TableEvaluationItemComment_PC td {
        padding: 5px;      
    }


    .page2TableEvaluationItemComment_PC .SeqNo {
        width: 50px;
    }

    .page2TableEvaluationItemComment_PC .Item {
        width: 60px;
        text-align: left;
    }

    .page2TableEvaluationItemComment_PC .YourPerformance {
        text-align: right;
    }

    .page2TableEvaluationItemComment_PC .Comment {
        width: 350px;
        text-align: left;
    }

@media (min-width: 767px) {
}

@media (min-width: 768px) and (max-width: 992px) {
}

@media (min-width: 992px) and (max-width: 1200px) {
}

@media (min-width: 1200px) {
}
