.reportTitle {
    font-size: 43px; 
}

.reportSecondTitle {
    font-size: 25px;
    padding-left: 11px;
}

/* 讓整塊測驗人資訊部分垂直置中 */
#cover_ExamInfoArea {
    padding-top: 60px;
}

.divExamInfo_DataArea_Bottom {
    margin-top: 20px;
}

#cover_ExamInfo_Calendar_Icon {
    padding-left: 20px;
}

#cover_ExamInfo_User_Icon {
    padding-left: 18px;
}

.examInfo_Data {
    padding-top: 4px;
    white-space: nowrap;
    font-size: 18px;
}

#coverTable_PC {
    font-size: 18px;
    width: 100%;
}

    #coverTable_PC th {
        padding: 18px;
        text-align: center;
        border-bottom: 3px solid black;
        background-color: #30d6f1d6;
        white-space: nowrap;
    }

    #coverTable_PC td {
        padding: 18px;
        text-align: center;
        border-bottom: 3px solid black;
        white-space: nowrap;
    }


#coverTableArea_Mobile {
    margin-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

#coverTable_PC_Mobile {
    font-size: 18px;
}

    #coverTable_PC_Mobile th {
        padding: 18px;
        text-align: center;
        border-left: 3px solid black;
        border-right: 3px solid black;
        background-color: #30d6f1d6;
        white-space: nowrap;
    }

    #coverTable_PC_Mobile td {
        padding: 18px;
        text-align: center;
        border-right: 3px solid black;
        white-space: nowrap;
    }

#coverIntroductionArea {
    margin-top: 60px;
    padding-left: 70px;
}

@media (max-width: 660px) {
    .divExamInfo_DataArea_Top {
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    #coverIntroductionArea {
        padding-left: 0px;
    }

    .reportTitle {
        font-size: 27px;
    }

    .reportSecondTitle {
        font-size: 15px;
        padding-left: 10px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {   
    #coverIntroductionArea {
        padding-left: 40px;
    }

    .reportTitle {
        font-size: 27px;
    }

    .reportSecondTitle {
        font-size: 15px;
        padding-left: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .reportTitle {
        font-size: 36px;
    }

    .reportSecondTitle {
        font-size: 20px;
        padding-left: 3px;
    }
}

@media (min-width: 1200px) {
    .examInfo_Data {
        font-size: 22px;
        padding-top:2px;
    }
}
