hr.blackLine {
    border: 2px solid black;
    border-radius: 5px;
    z-index: 10;
}

hr.grayLine {
    border: 2px solid gray;
    border-radius: 5px;
    z-index: 10;
}



@media print{
    .divExamInfo_DataArea_Top {
        margin-top: 0px !important;
    }

    .notShowMoblie {
        display: block !important;
    }

    .notShowPC {
        display: none !important;
    }
}