.navbar {
    border: 0px !important;
}

.navbar-brand {
    color: white !important;
}

    .navbar-brand:hover {
        color: black !important;
    }

.navbar-nav > li > a {
    color: white !important;
}

    .navbar-nav > li > a:hover {
        color: black !important;
    }

table {
    /* table 超過螢幕畫面會有 scroll bar */
    /*display: block;
    overflow-x: auto;
    white-space: nowrap;*/
    width: 100%;
}

html, body {
    font-family: Microsoft JhengHei !important;
    /* 設定body高度為100% 拉到視窗可視的大小 */
    height: 100%;
}

#main_wrapper {
    /* 設定高度最小為100%, 如果內容區塊很多, 可以長大 */
    min-height: 100%;
    /* 位置設為relative, 作為footer區塊位置的參考 */
    position: relative;
}

#main_header {
    /* 設定header的高度 */
    height: 5px;
    box-sizing: border-box;
}

#main_content {
    /* 留出header及footer區塊的空間 */
    padding-top: 5px;
    padding-bottom: 10rem;
}

#main_footer {
    /* 設定footer的高度 */
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    box-sizing: border-box;
    /* 設定footer絕對位置在底部 */
    position: absolute;
    bottom: 0;
    /* 展開footer寬度 */
    width: 100%;
}

.notShowMoblie {
    display: block;
}

.notShowPC {
    display: none;
}

hr.blackLine {
    border: 2px solid black;
    border-radius: 5px;
    z-index: 10;
}

hr.grayLine {
    border: 2px solid gray;
    border-radius: 5px;
    z-index: 10;
}

.customHeaderBg {
    background-image: url(/Images/header.png) !important;
    background-size: 100% 100% !important;
    padding: 5px; /*加高 Header 底圖高度 ( main_content、main_header 也要配合調整 )*/
}

.customFooterBg {
    background-image: url(/Images/footer.png) !important;
    background-size: 100% 100% !important;
}

.border-3-topGray {
    border-top: 3px solid gray !important;
}

.border-3-bottomGray {
    border-bottom: 3px solid gray !important;
}

.border-3-rightGray {
    border-right: 3px solid gray !important;
}

.border-3-topBlack {
    border-top: 3px solid black !important;
}

.border-3-bottomBlack {
    border-bottom: 3px solid black !important;
}

.border-3-leftBlack {
    border-left: 3px solid black !important;
}

.border-3-rightBlack {
    border-right: 3px solid black !important;
}


.break-table tr {
    background-color: #ffffff;
    display: block;
}

.break-table td {
    border: none !important;
    border-right: 3px solid black !important;
    position: relative;
    padding-left: 35% !important;
    white-space: normal;
    text-align: left;
    display: block;
}

    .break-table td:before {
        border-left: 3px solid black;
        border-right: 3px solid black;
        content: attr(data-th);
        position: absolute;
        top: 0px;
        left: 0px;
        width: 30%;
        height: 100%;
        white-space: nowrap;
        font-weight: bold;
        background-color: #30d6f1d6;
    }

.break-table thead {
    display: none;
}

@media print {
    * {
        -webkit-print-color-adjust: exact !important;
    }

    @page {
        size
        size: A4 !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    #main_header {
        height: 0px !important;
    }

    .container, #main_content {
        padding: 0 !important;
    }


    body {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    #printHeaderArea {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-bottom: 0px !important;
    }

    #printHeader {
        height: 100px !important;
        width: 100% !important;
        background-image: url(/Images/header.png) !important;
        background-size: 100% 100% !important;
    }

    #printFooter_coverArea {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-top: 85px !important;
        page-break-after: always; /* 換頁符號的概念 ( after 在標籤後換頁 ) */
    }

    #printFooter_cover {
        height: 100px !important;
        width: 100% !important;
        background-image: url(/Images/footer.png) !important;
        background-size: 100% 100% !important;
    }

    #printFooter_page1Area {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-top: 38px !important;
        page-break-after: always; /* 換頁符號的概念 ( after 在標籤後換頁 ) */
    }

    #printFooter_page1 {
        height: 100px !important;
        width: 100% !important;
        background-image: url(/Images/footer.png) !important;
        background-size: 100% 100% !important;
    }

    #printFooter_page2Area {
        display: block !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-top: 45px !important;
        page-break-after: always; /* 換頁符號的概念 ( after 在標籤後換頁 ) */
    }

    #printFooter_page2 {
        display: block !important;
        height: 100px !important;
        width: 100% !important;
        background-image: url(/Images/footer.png) !important;
        background-size: 100% 100% !important;
        background-repeat: no-repeat !important;
    }

    #printHeader, #printFooter_cover, #printFooter_page1Area, #printFooter_page2Area {
        /*-webkit-print-color-adjust: exact !important;*/
    }

    .chart-container {
        /*-webkit-print-color-adjust: exact !important;*/
    }

    .notShowMoblie, #imageFromMyChart_PC {
        display: block !important;
    }

    .notShowPC, #myChart_PC, .notShowPrint {
        display: none !important;
    }

    .divExamInfo_DataArea_Top {
        margin-top: 0px !important;
    }

    #coverTableArea_PC {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    #coverTable_PC th, .page1Table th, .page2TableEvaluationItem_PC th, .page2TableEvaluationItemComment_PC th {
        /* 如果只有設 background-color，瀏覽器列印設置必須打勾「背景圖形」才會顯示顏色 */
        background-color: #30d6f1d6 !important;
        /* 加上 -webkit-print-color-adjust: exact 後，應用此規則的元素的背景色和圖像始終​​會被打印，而用戶的打印設置將被覆蓋。 */
        /*-webkit-print-color-adjust: exact !important;*/
    }

    #page1TableArea_PC {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    #page2TableEvaluationItemArea_PC {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    #page2TableEvaluationItemCommentArea_PC {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    .page1Table, .page2TableEvaluationItem_PC, .page2TableEvaluationItemComment_PC {
        font-size: 14px !important;
    }

        .page2TableEvaluationItemComment_PC > tbody > tr > th {
            color: white !important;
        }

        .page1Table > thead > tr > th, .page1Table > tbody > tr > td {
            padding: 5px !important;
            text-align: center;
        }

    #divChartContainer_PC {
        width: 620px;
        height: 365px;
    }

    #imageFromMyChart_Print {
        margin-left: 0px !important;
        width: 620px;
        height: 365px;
        display: block !important;
    }

    .printPaddingleft50 {
        padding-left: 50px !important;
    }
}

@media (max-width: 660px) {
    .notShowPC {
        display: block;
    }

    .notShowMoblie {
        display: none;
    }
}

@media (max-width: 767px) {
    #printHeaderArea {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #printHeaderArea {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
}

@media (min-width: 1200px) {
}
